/* Write your CSS here */

.latest-match-container {
  padding: 2%;
  margin-top: 20px;
  background-color: #1e293b;
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: #ffffff;
  align-items: center;
}
.competing-team-logo {
  width: 30%;
}
@media (max-width: 767px) {
  .latest-match-container {
    flex-direction: column;
    align-items: center;
  }
}
.latest-match-competing-team-name {
  font-size: 35px;
  font-weight: bold;
}
.heading1 {
  font-size: 25px;
}
.heading2 {
  font-size: 20px;
}
